---
import { getEntry, render } from "astro:content";
import Main from "../layouts/MainLayout.astro";
import Markdown from "../components/Markdown.astro";

const post = await getEntry("specs", "presentacion");
const { Content } = await render(post!);
---

<Main title="Presentación" subTitle="Video de presentación">
  <div class="article-wrapper">
    <div class="article">
      <Markdown>
        <Content />
      </Markdown>
    </div>
  </div>
</Main>

<style>
.article-wrapper {
  @apply w-full rounded-2xl bg-[var(--card-color)] p-10;
}
</style>
